{% extends 'templates/layout.html' %}

{% block content %}
<h1>Add a player</h1>

{% if errmsg %}
<p class="error">Error: {{errmsg}}</p>
{% endif %}

<form method="POST" action="/admin/add_player">
    <label for="name">Name: </label><br>
    <input type="text" name="name" id="name" placeholder="e.g. Wande McCunn"><br>
    <label for="email">Email: </label><br>
    <input type="email" name="email" id="email" placeholder="example@example.com"><br>
    <label for="phone">Mobile: </label><br>
    <input type="tel" name="phone" placeholder="44xxxxxxxx"><br>
    <input type="submit" name="add" value="Add"><br>
</form>
{% endblock content %}
