{% extends 'templates/layout.html' %}

{% block content %}
<h1>Send Voting Emails</h1>
<h2>Oxford vs {{game.opponent}}</h2>
<h3>{{game.venue}}, {{game.date}}</h3>
{% if errmsg -%}
<p>Error: {{errmsg}}</p>
{%- endif %}
<p>Please confirm who played:</p>
<form method="POST" action="/admin/send_emails">
    {% for p in playing %}
    <input type="checkbox" name="players" id="{{p.key().id()}}" value="{{p.key().id()}}" checked>
    <label for="{{p.key().id()}}">{{p.name}}</label>
    <br>
    {% endfor %}
    {% for p in not_playing %}
    <input type="checkbox" name="players" id="{{p.key().id()}}" value="{{p.key().id()}}">
    <label for="{{p.key().id()}}">{{p.name}}</label>
    <br>
    {% endfor %}
    <input type="hidden" name="game" value="{{game.key().id()}}">
    <input type="submit" name="send" value="Send">
</form>

{% endblock %}
