{% extends 'templates/layout.html' %}

{% block content %}
<h1>Oxford vs {{ game.opponent }} ({{ game.team|teamString }})</h1>
<h2>{{ game.venue }}, {{ game.date }}</h2>

{% if voters %}
<h3>Voted</h3>
<ul>
    {%- for v in voters -%}
    <li>{{ v.voter.get().name }}</li>
    {%- endfor  -%}
</ul>
{% endif %}

{% if non_voters %}
    <h3>Yet To Vote</h3>
    <ul>
        {%- for v in non_voters -%}
            <li>{{ v.voter.get().name }}</li>
        {%- endfor  -%}
    </ul>
{% endif %}

{% endblock content %}

