{% extends 'templates/layout.html' %}

{% block content %}
<h1>Oxford vs {{game.opponent}} ({{game.team|teamString}})</h1>
<h2>{{game.venue}}, {{game.date}}</h2>
{% if errmsg -%}
    <p class="error">Error: {{errmsg}}</p>
{%- endif %}
<form method="POST" action="/vote" >
    <label for="three">3 Votes (best on ground):</label><br>
    <select id="three" name="three">
        {% for p in players -%}
          <option value="{{p.key().id()}}">{{p.name}}</option>
        {%- endfor %}
    </select><br>
    <label for="two">2 Votes:</label><br>
    <select id="two" name="two">
        {% for p in players -%}
        <option value="{{p.key().id()}}">{{p.name}}</option>
        {%- endfor %}
    </select><br>
    <label for="one">1 Vote:</label><br>
    <select id="one" name="one">
        {% for p in players -%}
        <option value="{{p.key().id()}}">{{p.name}}</option>
        {%- endfor %}
    </select><br>
    <input type="hidden" name="token" value="{{token}}">
    <input type="submit" name="submit" value="Submit" onclick="return checkVote()">
</form>

<script type="text/javascript">
  function checkVote() {
      three = document.getElementById("three").value;
      two = document.getElementById("two").value;
      one = document.getElementById("one").value;
      voter = "{{voter.key().id()}}";
      name = "{{voter.name}}".split(" ")[0];

      if (three == two || three == one || two == one) {
          alert("You can't vote for the same person more than once");
          return false;
      }
      if (three == voter || two == voter || one == voter) {
          alert("Don't try to vote for yourself " + name + ". You sneaky bugger");
          return false;
      }
      return false;
  }
</script>

{% endblock %}
