{% extends 'templates/layout.html' %}

{% block content %}
<h1>Oxford vs {{game.opponent}} ({{game.team|teamString}})</h1>
<h2>{{game.venue}}, {{game.date}}</h2>
{% if errmsg -%}
    <p class="error">Error: {{errmsg}}</p>
{%- endif %}
<form method="POST" action="/vote" >
    <label for="three">3 Votes (best on ground):</label><br>
    <select id="three" name="three">
        {% for p in players -%}
          <option value="{{p.key.id()}}">{{p.name}}</option>
        {%- endfor %}
    </select><br>
    <label for="two">2 Votes:</label><br>
    <select id="two" name="two">
        {% for p in players -%}
        <option value="{{p.key.id()}}">{{p.name}}</option>
        {%- endfor %}
    </select><br>
    <label for="one">1 Vote:</label><br>
    <select id="one" name="one">
        {% for p in players -%}
        <option value="{{p.key.id()}}">{{p.name}}</option>
        {%- endfor %}
    </select><br>
    <input type="hidden" name="token" value="{{token}}">
    <input type="submit" name="submit" value="Submit" onclick="return checkVote()">
</form>

<script type="text/javascript">
  function checkVote() {
      var three = document.getElementById("three").value;
      var two = document.getElementById("two").value;
      var one = document.getElementById("one").value;
      var voter = "{{voter.key.id()}}";
      var name = "{{voter.name}}".split(" ")[0];

      if (three == voter || two == voter || one == voter) {
          alert("Don't try to vote for yourself " + name + ". You sneaky bugger");
          var num_votes;
          if (three == voter) {
              num_votes = "3";
          } else if (two == voter) {
              num_votes = "2";
          } else {
              num_votes = "1";
          }
          var xhttp;
          if (window.XMLHttpRequest) {
              xhttp = new XMLHttpRequest();
          } else {
              xhttp = new ActiveXObject("Microsoft.XMLHTTP");
          }
          xhttp.open("GET", "/vote/self/{{token}}?votes=" + num_votes, true);
          xhttp.send();
          return false;
      }
      if (three == two || three == one || two == one) {
          alert("You can't vote for the same person more than once");
          return false;
      }
      return true;
  }
</script>

{% endblock %}
