html {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    height: 100%;
    background: #8cc2ce;
}

body {
    height: 100%;
    max-width: 400px;
    margin: 0 auto;
    background: #022B5E;
}

h1 {
    margin-bottom: 0.5em;
    margin-top: 0;
    font-size: 1.5em;
    font-weight: bold;
}

h2 {
    font-style: italic;
    font-weight: normal;
    font-size: 1.2em;
}

h3 {
    font-size: 1em;
    font-weight: bold;
}

input {
    margin-bottom: 0.5em;
}

select {
    margin-bottom: 1em;
}

input[type="submit"] {
    font-size: 1.2em;
    margin-top: 0.5em;
}

p.error {
    background: red;
    border: 1px solid white;
    padding: 1em;
}

a, a:visited {
    color: white;
}

div#content {
    max-width: 400px;
    margin: 0 auto;
    padding: 16px;
    background: #022B5E;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
}