html {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    height: 100%;
    background: #E0DED9;
}

body {
    height: 100%;
    max-width: 480px;
    margin: 0 auto;
    background: #022B5E;
    box-shadow: 0 0 10px 0px #000000;
}

h1 {
    margin-bottom: 0.5em;
    margin-top: 0;
    font-size: 1.5em;
    font-weight: bold;
}

h2 {
    font-style: italic;
    font-weight: normal;
    font-size: 1.2em;
}

h3 {
    font-size: 1em;
    font-weight: bold;
}

h2.results {
    font-size: 1em;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 0.2em;
    margin-top: 0;
}

h3.results {
    font-size: 1.2em;
    font-style: italic;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0.2em;
}

h4.results {
    font-size: 0.9em;
    font-style: normal;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 1em;
}

input {
    margin-bottom: 0.5em;
}

select {
    margin-bottom: 1em;
    padding: 5px 5px 5px 0;
    font-size: 0.9em;
}

input[type="submit"] {
    font-size: 1.2em;
    margin-top: 0.5em;
    padding:5px 15px;
    background:#ccc;
    border: 2px #022B5E solid;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background: #022B5E;
    border: 2px white solid;
    color: white;
}

input[type=text], input[type=date], input[type=email] {
    padding:5px;
    font-size: 0.9em;
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=text]:focus, input[type=date]:focus, input[type=email]:focus {
    border-color:#333;
}

p.error {
    background: red;
    border: 1px solid white;
    padding: 1em;
}

a, a:visited {
    color: white;
}

div#content {
    margin: 0 auto;
    padding: 16px;
    background: #022B5E;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
}

div.game-results {
    background: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0 0 10px 0px #000000;
    color: #022B5E;
    padding: 8px;
    margin-top: 16px;
}

div.game-results p {
    margin-top: 0;
    margin-bottom: 0.2em;
}

table.results {
    border-spacing: 0;
}

.results th {
    font-weight: normal;
    font-style: italic;
    text-align:left;
    border-bottom: 1px solid white;
}

.results td, .results th {
    padding-bottom: 0.1em;
    padding-left: 0.4em;
    padding-right: 0.2em;
    padding-top: 0.2em;
}

.results td:last-child {
    text-align: right;
}
